.pagination__box{
display: flex;
  justify-content: center;
  margin: 3%;
}

.pagination__element{

}

.pagination__btn{
  border: 1px solid transparent;
  width: 40px;
  height: 50px;
  background: white;
  margin-left: 10px;

}