.summary__items-box{

}

.summary__item{
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.summary__item-img{
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.summary__item-text{
  font-size: 18px;
}

.personal__wrap-summary{
  margin-bottom: 14px;
}

.personal__label-summary{
  font-size: 18px;
  font-weight: lighter;
  margin-right: 20px;
  line-height: 1.4;
}

.personal__input-summary{
  border: none;
  font-weight: lighter;
  text-align: left;
  height: auto;
  font-size: 18px;
}

.textarea__summary-box{
}

.personal__textarea-summary{
  border: none;
  height: auto;
  font-size: 14px;
  font-weight: lighter;
  margin: 4px 0 0 8px;
}
.textarea__summary-box{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: initial;
  height: 50px;
  max-width: 300px;
}

.thanks__container{
  display: flex;
  align-items: center;

}

.thanks__container-content{
  width: 550px;
  letter-spacing: -0.8px;
  line-height: 1.4;
  text-align: center;
  font-size: 35px;
  font-weight: lighter;
  color: $col-grafit;
  margin-left: 15%;
}