.important__box{
  height: 140px;
  width: 100%;
  background-color: $col-yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.important__title{
  margin: 0 0 8px 8%;
  font-size: 36px;
  font-weight: bold;
}

.important__text{
  margin: 0 8% 0 8%;
  font-size: 22px;
  color: $col-grafit;
}

.steps__form-container{
  background-image: url("./.././assets/Background-Form.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  background-repeat: no-repeat;
  position: relative;
}

.steps__form{
  display: flex;
  flex-direction: column;
  margin: 2% 0 0 8%;

}

.steps__counter {
  font-size: 24px;
  font-weight: lighter;
  color: $col-grafit;
  margin-bottom: 2%;
}

.steps__form-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 3%;
}

.radio__box{
  margin-bottom: 1%;
  display: flex;
  align-items: center;
}

.steps__form-radio{
  width: 40px;
  height: 40px;
  appearance: none;
  border: 0.75px solid $col-grafit;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  margin-right: 20px;

    &:checked {
      background-color: $col-yellow;
    }
}

.steps__form-label{
  font-size: 24px;
  font-weight: lighter;
  margin: 3px 2% 0 0;
}

.steps__select-box{
  display: flex;
}

.steps__submit{
  width: 150px;
  height: 60px;
  background: transparent;
  margin-right: 10px;
  border: 0.75px solid $col-grafit;
  cursor: pointer;
  align-self: flex-start;
}

.step__buttons{
  display: flex;
  position: absolute;
  top: 85%;
 }

.steps__form-radio1{
  width: 200px;
  height: 40px;
  margin: 0;
}

//STEP 3

.beneficiary__container {
  margin: 2% 0;
}

.beneficiary__title {
  font-size: 24px;
  color: $col-grafit;
  font-weight: bold;
}

.beneficiary__list {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.beneficiary__element {
  border: 0.75px solid $col-grafit;
  font-weight: lighter;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% 2% 1% 0;
  user-select: none;
  cursor: pointer;
}

.beneficiary__element-yellow{
  background: $col-yellow;
  border: 0.75px solid $col-grafit;
  font-weight: lighter;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% 2% 1% 0;
  user-select: none;
  cursor: pointer;
}


.beneficiary__organization-container {
  display: flex;
  flex-direction: column;
  margin: 2% 0;
}

.beneficiary__label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1%;
}

.beneficiary__input {
  width: 400px;
  border: 0.75px solid $col-grafit;
  font-size: 24px;
  background: transparent;
  font-weight: 300;
  color: $col-grafit;
}
