.important__box{
  height: 140px;
  width: 100%;
  background-color: $col-yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.important__title{
  margin: 0 0 8px 8%;
  font-size: 36px;
  font-weight: bold;
}

.important__text{
  margin: 0 8% 0 8%;
  font-size: 22px;
  color: $col-grafit;
}

.steps__form-container{
  background-image: url("./.././assets/Background-Form.jpg");
  background-size: cover;
  background-position: center;
  height: 45vw;
  background-repeat: no-repeat;
}

.steps__form{
  display: flex;
  flex-direction: column;
  margin: 2% 0 0 8%;
}

.steps__counter {
  font-size: 24px;
  font-weight: lighter;
  color: $col-grafit;
  margin-bottom: 2%;
}

.steps__form-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 3%;
}

.radio__box{
  margin-bottom: 1%;
  display: flex;
  align-items: center;
}

.steps__form-radio{
  width: 40px;
  height: 40px;
  appearance: none;
  border: 0.75px solid $col-grafit;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  margin-right: 20px;

    &:checked {
      background-color: $col-yellow;
    }
}

.steps__form-label{
  font-size: 24px;
  font-weight: lighter;
  margin: 3px 2% 0 0;
}

.steps__select-box{
  display: flex;
}

.steps__submit{
  width: 150px;
  height: 60px;
  background: transparent;
  margin: 2% 0 0 1%;
  border: 0.75px solid $col-grafit;
  cursor: pointer;
  align-self: flex-start;

}


.step2__button-box{
  margin-top: 20%;
 }



