.logout__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

.logout__title{
  text-align: center;
  letter-spacing: -0.8px;
  font-size: 40px;
}

.logout__decoration{
  margin: 30px;
}