.select__box{
  width: 200px;
  height: 33px;
  border: 0.75px solid $col-grafit;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow__rotate2{
  transform: rotate(180deg);
  transition: transform 1s;
}

.arrow__rotate1{
  transition: transform 1s;
}

.select__items-box{
  display: flex;
  justify-content: flex-end;
}

.select__title{
  font-weight: lighter;
  text-align: center;
  user-select: none;
  margin-left: 5px;
}

.select__list{
  position: absolute;
  border: 0.75px solid $col-grafit;
  cursor: pointer;
  margin-top: 10px;
  user-select: none;
  text-align: center;
}

.select__item{
  padding: 6px 25px;
  font-weight: lighter;
  font-size: 18px;

  &:hover{
    background: darken($col-bone, 10%);
  }
}

